<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" packages="org.talend.daikon.logging.event.layout" verbose="false">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="CONSOLE APPENDER %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="File"  fileName="application_log4j2.log" append="false" >
      <Log4j2JSONLayout charset="UTF-8" skipJsonEscapeSubLayout="true" locationInfo="true" subLayoutAsElement="true">
            <KeyValuePair key="application_user" value="SCIM"/>
      </Log4j2JSONLayout>
    </File>
  </appenders>
  <loggers>
    <root level="DEBUG">
      <appender-ref ref="Console"/>
      <appender-ref ref="File"/>
    </root>
  </loggers>
</configuration>
