<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
    
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="TRACE" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %-30x %-30c %m %n" />
        </layout>
    </appender>

    <appender name="SYSLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="application_log4j.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="INFO" />
        <param name="MaxFileSize" value="50MB" />
        <param name="MaxBackupIndex" value="20" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.talend.daikon.logging.event.layout.Log4jJSONLayout">
        	<param name="UserFields" value="foo:bar,baz:quz" />
        	<param name="LocationInfo" value="true"/>
        </layout>
    </appender>   
       
    <logger name="com">
        <level value="INFO" />
    </logger>

    <logger name="org">
        <level value="INFO" />
    </logger>
    
    <logger name="org.talend">
        <level value="INFO" />
    </logger>       

    <root> 
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SYSLOG" />
    </root>


</log4j:configuration>
